/* CUSTOM FONT */
@font-face {
  font-family: "Dela Gothic One", sans-serif;
  src: url('/assets/font/DelaGothicOne-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "FFF AZADLIQ";
  src: url('/assets/font/FFF_AZADLIQ-Black.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Blanka";
  src: url('/assets/font/Blanka.otf');
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url('/assets/font/ChakraPetch-Regular.ttf');
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pills { 
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
	padding: .5rem .25rem;
  transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.icons {
  transition: margin-left .5s ease-in-out;
  color: white;
}

.pills:hover {
  box-shadow: inset 200px 0 0 0 #ffffff;
  color: #000000;
  border-color: #838383;
  .icons {
    margin-left: 3em;
  }
}


.scrolled {
  box-shadow: inset 0px 80px 0 0 rgb(34, 38, 54);
  /* border-bottom: 1px solid rgb(95, 95, 95); */
  transition: box-shadow .5s ease-in-out,  padding-inline .5s ease-in-out;
}
.no-scrolled {
  /* border-bottom: 1px solid rgb(95, 95, 95); */
  padding-inline: 0px;
  transition: box-shadow .5s ease-in-out,  padding-inline .5s ease-in-out;
}

.block-nav {
  position: relative;
  /* display: block; */
  transition: all .5s ease-in-out;
  opacity: 1;
  right: -1000px;
}

.noblock-nav {
  position: relative;
  /* display: block; */
  transition: all .5s ease-in-out;
  opacity: 1;
  right: 10px;
  margin-top: 14px;
}

.bg-image {
  background-image: url('../public/assets/BBB.png');
}

.font-blanka {
  font-family: 'Blanka';
}

.font-azadliq {
  font-family: "FFF AZADLIQ";
}

.font-dela {
  font-family: "Dela Gothic One", sans-serif;
}

.responsive-image {
  position: relative;
}

.skills {
  font-family:"Blanka";
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0 100 100px 0;
  position: relative;
}

.skill-bx {
  text-align: center;
  overflow: hidden;
  z-index: 900;
}

/* .skill-bx::before {
  content: "";
  width: 50%;
  height: 100%;
  background: #ff0055;
  position: absolute;
  left: 79.5vw;
  top: 0;
} */


.skill-slider {
  padding: 20px;
  /* overflow: hidden; */
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.skill-slider .item {
  border: 5px solid transparent;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3 ease-in-out;
  text-align: center;
  z-index: 99999;
  /* filter: invert(2); */
}

.skill-slider button {
  text-align: center;
  background: #5a5a5a;
  filter: invert(1);
  opacity: 0.8;
  width: 1vw;
  height: auto;
  border-radius: 50%;
  right: 10px;
  margin: -20px;
  overflow: visible;
  position: absolute;
  z-index: 999;
}

.react-multi-carousel-dot--active {
  filter: invert(1);
}

.box::before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: darken;
  background: linear-gradient(90.21deg, #ff00ea -5.91%, #3f0a85 111.58%, rgb(13, 161, 0) 50%);
  /* background: rgb(255, 135, 135); */
  left: -2000px;
  /* left: 0; */
  z-index: 99;
  opacity: 0.5;
  padding: 700px;
  transition: left 0.6s ease-in-out;
}

.box:hover::before {
  left: 0;
  /* opacity: 1; */
  /* transition: opacity 1s; */
  .box-img {
    filter: invert(1);
  }
}

nav {
  z-index: 99999999;
}




.skill-bx .more-btn {
  font-family: 'FFF AZADLIQ';
  color: #000000;
  font-size: 30px;
  float: right;
  margin: 10px 30px;
  /* bottom: 30px; */
  /* background-color: #ff3c97; */
  /* padding: 10px 30px; */
  /* box-shadow: -3px 6px 0px 2px rgba(0, 0, 0, 0.9); */
}

/* GLITCH */

.span-glitch {
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  /* font-family: 'Cyber', sans-serif; */
  color: white;
  cursor: pointer;
  background: rgb(158, 158, 158);
  text-transform: uppercase;
  /* font-size: var(--font-size); */
  /* outline: transparent; */
  /* letter-spacing: 2px; */
  /* position: relative; */
  font-weight: 700;
  border: 0;
  /* height: 75px; */
  /* line-height: 75px; */
  transition: background 0.2s;
  z-index: 999999;
  /* display: none; */
  filter: invert(15%);
  padding: 5px;
  opacity: 0;
}

.span-glitch:before {
  background: rgb(41, 141, 255);
  /* filter: invert(1); */
  transform: translate(var(--border), 0);
  transform: scaleX(-1);
  margin-left: -5px;
  display: none;
}

.span-glitch.nav-span {
  background-color: #828884;
  margin-top: -45px;
}


.span-home:hover .span-glitch {
  position: absolute;
  display: block;
  opacity: 1;
 animation: glitch 2s infinite;
}
.span-home:active .span-glitch{
 background-color: #ff0000;
 color: #2600ff;
}


.tagline-btn {
  --primary: yellow;
  --shadow-primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);

  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Cyber', sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 300px;
  height: 75px;
  line-height: 75px;
  transition: background 0.2s;
  z-index: 999999;
}

.tagline-btn:hover, .span-glitch {
  filter: invert(5%);
}

.tagline-btn:active, .span-glitch:active {
  --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
}

.tagline-btn:after,
.tagline-btn:before, .h1-list::after, .h1-list:before, .h1-list__glitch:before , .h1-list__glitch:after, .span-glitch:before, .span-glitch:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
  transform: scaleX(-1);
}

.tagline-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
  transform: scaleX(-1);
  margin-left: -5px;
}

.h1-list:before {
  background: rgb(97, 149, 209);
  transform: translate(var(--border), 0);
  transform: scaleX(-1);
  margin-left: -5px;

}

.tagline-btn:after {
  background: var(--primary);
}

.tagline-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.tagline-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: blue;
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.tagline-btn:hover .tagline-btn__glitch {
  display: block;
}

.tagline-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: rgb(210, 255, 47);
  z-index: -1;
}

.h1-list {
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  /* --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%); */
  /* font-family: 'Cyber', sans-serif; */
  color: white;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  /* font-size: var(--font-size); */
  /* outline: transparent; */
  letter-spacing: 2px;
  /* position: relative; */
  font-weight: 700;
  border: 0;
  /* min-width: 300px; */
  /* height: 75px;
  line-height: 75px; */
  transition: background 0.2s;
  z-index: 999999;
  animation: glitch 2s infinite;
  display: block;
  filter: invert(15%);
  /* padding: 5px; */
}

.h1-list__glitch {
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  /* font-family: 'Cyber', sans-serif; */
  color: white;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  /* font-size: var(--font-size); */
  /* outline: transparent; */
  /* letter-spacing: 2px; */
  /* position: relative; */
  font-weight: 700;
  border: 0;
  /* min-width: 300px; */
  /* height: 75px;
  line-height: 75px; */
  transition: background 0.2s;
  z-index: 999999;
  animation: glitch 2s infinite;
  display: block;
  filter: invert(15%);
  padding: 0px;
  margin: 0px;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.tagline-btn:nth-of-type(2) {
  --primary-hue: 260;
}

.more-btn.tagline-btn {
  --primary:  yellow;;
  --shadow-primary: hsl(0, 100%, 50%);
  --primary-h: 330;
  --primary-lightness: 50;
  --shadow-primary-hue: 90;
  /* background-color: ; */
  --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 75% 90%, 100% 70%, 100% 100%, 8% 100%, 0 70%);
}


.more-btn.tagline-btn__glitch:before {
  background: #2600ff !important;
}
.more-btn.tagline-btn__glitch:before {
  background: #2600ff !important;
}
span.more-s {
  transform: scaleX(1) !important;
}

/* CONTACTS */
section.contacts {
  font-family: 'Blanka';
  position: absolute;
  color: rgb(0, 0, 0);
  width: 100%;
  top: 200vh;
  left: 0;
  height: 80vh;
  background-color: #ff0000 !important;
  margin: 50px 0;
}

.contacts .row {
  display: flex;
  text-align: center;
  /* border: 6px solid black; */
  padding: 100px 600px;
  align-items: center;
  justify-content: center;
  height: auto;
}

.contacts .row h1 {
  font-size: 72px;
  position: absolute;
  left: 12vw;
}

.contacts .row p {
  text-align: left;
  position: absolute;
  width: 30%;
  left: 12vw;
  top: 25vh;
}

.contacts .row h2 {
  position: absolute;
  right: 12vw;
}

@media only screen and (max-width: 700px) {

  .tagline-btn {
    min-width: 180px;
    margin-top: 10px;
    width: 160px;
    height: 50px;
  }

  button.tagline-btn.home {
    left: 80px;
    text-align: center;
    line-height: normal;
    letter-spacing: normal;
    min-width: 120px;
    margin-top: 10px;
    color: #f51515;
  }


  .skill-bx .more-btn {
    font-size: 20px;
    /* margin-top: 40px; */
    /* margin-top: 10px; */
  }
}

.anima {
  filter: blur(4px);
  animation: set3 1s infinite;
  /* color: #0000FF; */
}
.anima2 {
  filter: blur(4px);
  animation: set2 1s infinite;
  /* color: #0000FF; */
}
.anima3 {
  filter: blur(4px);
  animation: set1 1s infinite;
  /* color: #0000FF; */
}
.anima4 {
  filter: blur(2px);
  animation: set3 1s infinite;
  /* color: #0000FF; */
}

@keyframes set1 {
  0% {transform: translate(4px, 4px)}
  15% {transform: translate(5px, 6px)}
  30% {transform: translate(4px, 4px)}
  45% {transform: translate(5px, 6px)}
  60% {transform: translate(4px, 4px)}
  75% {transform: translate(6px, -2px)}
  100% {transform: translate(4px, 4px)}
}

@keyframes set2 {
  0% {transform: translate(0px, 0px)}
  15% {transform: translate(-1px, -2px)}
  30% {transform: translate(0px, 0px)}
  45% {transform: translate(-1px, -2px)}
  60% {transform: translate(0px, 0px)}
  75% {transform: translate(-1px, 1px)}
  100% {transform: translate(0px, 0px)}
}

@keyframes set3 {
  0% {transform: translate(-4px, -4px)}
  15% {transform: translate(-6px, -6px)}
  30% {transform: translate(-4px, -4px)}
  45% {transform: translate(0px, 0px)}
  60% {transform: translate(-4px, -4px)}
  75% {transform: translate(-3px, -5px)}
  100% {transform: translate(-4px, -4px)}
}